.product {
    padding: 30px 0;
}

.product__title {
    margin-bottom: 30px;
}

.product__search {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 15px;
    color: black;
}

.product__content {
    display: flex;
    align-items: start;
    gap: 60px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.product__cart {
    border-radius: 15px;
    color: black;
}

h2 {
    margin-bottom: 15px;
}

img {
    border-radius: 15px;
    margin-bottom: 15px;
}

p {
    width: 300px;
    margin-bottom: 15px;
}